/react/node_modules
/react/.env

/angular/node_modules
/angular/.env

/express/node_modules
/express/.env

/nest/node_modules
/nest/.env

# Logs
*.log
logs/
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.sublime-workspace
